<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/action}" method="post">
    <table>
        <tr>
            <td>
                <button type="submit" name="task" value="helloapi">helloapi</button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="task" value="moderation">moderation</button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>