<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/action}" method="post">

    <table>
        <!--/*@thymesVar id="tasks" type="java.util.List<String>"*/-->
        <tr th:each="task : ${tasks}">
            <td>
                <!--/*@thymesVar id="task" type="java.lang.String"*/-->
                <button type="submit" name="task" th:value="${task}" th:text="${task}"></button>
            </td>
        </tr>
    </table>
</form>

</body>
</html>