<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/action}" method="post">

    <table>
        <!--/*@thymesVar id="tasks" type="java.util.List<String>"*/-->
        <tr th:each="task, stat : ${tasks}">
            <td>
                <!--/*@thymesVar id="task" type="java.lang.String"*/-->
                <button type="submit" name="task" th:value="${task}" th:text="${task}"></button>
                <div th:if="${task == lastTaskName}">
                    Task:
                    <pre th:text="${lastTask}"></pre>
                    Result:
                    <pre th:text="${lastResult}"></pre>
                    Logs:
                    <div th:each="log : ${logs}"><span th:text="${stat.index} + 1 + ' - ' + ${log}"/></div>
                </div>
            </td>
        </tr>
    </table>
</form>

</body>
</html>